.contact_form_wrapper{
    width: 45%;
    background-color: #1B2436;
    padding: 2em;
    border-radius: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.contact_form_wrapper form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap : 8px;
    /* background-color: darkolivegreen; */
    min-width: 0px;
    
}

.contact_form_wrapper form input{
    height: 30px;
    outline: none;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    color: #BFBECB;
    border-radius: 5px;
}

.contact_form_wrapper form label{
    display: flex;
    justify-content: space-between;
}

.contact_form_wrapper form textarea{
    outline: none;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    color: #BFBECB;
    border-radius: 5px;
}

.el1{
    grid-row: 1/2;
}
.el2{
    grid-row: 2/3;
    background-color: #1B2234;
}
.el3{
    grid-row: 3/4;
}
.el4{
    grid-row: 4/5;
    background-color: #1B2234;
}
.el5{
    grid-row: 5/6;
}
.el6{
    grid-row: 6/7;
    background-color: #1B2234;
}
.el7{
    grid-row: 7/8;
}
.el8{
    resize: none;
    grid-row: 8/12;
    grid-column: 1/-1;
    background-color: #1B2234;
}

.msg_drop{
    background-color: #72E2AE;
    font-size: 15px;
    border-radius: 5px;
}

.err_msg{
    margin-left: 2em;
    color: #E04243;
}

.err_class{
    background-color: #262435;
}

@media(max-width: 950px){
    .contact_form_wrapper{
        width: 85%;
        margin: 0 auto;
    }
    
}