.certifications_wrapper{
    width: 100%;
    color: #EFEEEF;
}

.certifications_inner{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2em;
    padding: 3em;
}

@media(max-width: 1300px){
    .certifications_inner{
        width: 75%; 
    }
}