.projects_preview_wrapper{
    /* background-color: coral; */
    width: 100%;
}

.projects_preview_outer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: #FAFAFA;
    gap: 2em;
}

.projects_preview_outer h1{
    text-align: center;
}

.projects_preview_inner{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.projects_preview_card{
    width: 30%;
    background-color: #1B2436;
    padding: 1.5em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    transition: all .2s ease-in-out;
}
.projects_preview_card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.projects_preview_card_img_container{
    width: 100%;
    height: 100%;
}

.projects_preview_card_img_container img{
    width: 100%;
    height: auto;
}

.more_projects{
    width: 20%;
    height: 50px;
    margin: 0 auto;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Radio Canada', sans-serif;
    background-color: #72E2AE;
}

.project_ts_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.projects_preview_card h5{
    text-align: center;
}

@media(max-width : 1250px){
    .projects_preview_inner{
        flex-direction: column;
    }
    .projects_preview_card{
        width: 90%;
        margin: 0 auto;
    }
    .more_projects{
        width: 40%;
        height: 50px;
        margin: 0 auto;
        
        font-size: 17px;
        border-radius: 5px;
    }
    
}